header {
  color: #FFFFFF;
  font-family: monospace;
  font-size: 90px;
  background-color: #1179AD;
  border: 8px solid black;
  text-align: center;
}

body {
  background-color: grey;
  border: 4px solid black;
  border-radius: 25x;
}

p {
  text-align: center;
  font-size: 30px;
  color: white;
}

pre {
  text-align: center;
  font-size: 15px;
  color: white;
}

img {
  text-align: center;
}

.square {
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: black;
  border-style: dashed;
  border-color: #1179AD;
  animation: side-to-side 5s infinite ease-in-out;
}

.red {
  position: relative;
  width: 200px;
  height: 200px;
  background: red;
  text-align: right;
  padding: 10px;
  margin: 50px;
  top: 500px;
  left: 20px;
  z-index: -1;
  border-color: pink;
  border-style: solid;
}

.blue {
  position: absolute;
  width: 250px;
  height: 20px;
  background: aqua;
  padding: 100px;
  margin: 20px;
  bottom: -200px;
  left: 250px;
  z-index: 1;
}

.green {
  position: sticky;
  width: 50px;
  height: 300px;
  background: #87CC93;
  padding: 20px;
  margin: 250px;
  top: 0px;
  left: 20px;
  z-index: 2;
}



@keyframes side-to-side{
  0%{
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}